<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gelir_Gider_Proje.Properties.Settings.Gelir_Gider_ProjeConnectionString"
            connectionString="Data Source=DESKTOP-657OBKD\SQLEXPRESS;Initial Catalog=Gelir_Gider_Proje;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>